<div class = "bottem-panel">
  <div class = "bottem-panel-text" style="display:flex;align-items:center;">
    <div style="display: inline-block; float: left; width: 75%;">
      <div>
        <p>hanshu.org is an introduction page for han shu.</p>  
        <p>If you are interested in my works, please feel free to contact me.</p>
        <p>e-mail address: <a href="mailto: {{site.author.email}}">{{site.author.email}}</a></p>
        <p>github home page: <a href="https://github.com/hannshu">link</a></p>
      </div>
      <div style="margin-top: 5px;">
        <p>relative links:</p>
        <div class = "bottem-link">
          <ul>
            <li style="margin: 0px;"><a href="https://blog.hanshu.org">blog.hanshu.org</a></li>
            <li style="margin: 0px;"><a href="https://pyralab.org">pyralab.org</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">© 2022 pyralab.org</p>
    </div>
    <div style="display: inline-block; float: right; width: 25%;">
      <img decoding="async" style="height: auto;" title="logo" src="{{site.svg_link}}">
    </div>
  </div>
</div>
